# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS specific files
.DS_Store

# IDE / Editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Optional npm cache & history
.npm
.node_history